
body {

  background-color: #222222;
  font-size: 16px;
}

.size-test {
  margin-top: 66px;
}

.header h1 {
  color: #FFE600;
}

.header .medium {
    font-size: 3.625em;
    padding-bottom: 1em;
    padding-top: 1em;
}
 .header .small {
   font-size: 2.5em;
   padding-bottom: 1em;
   padding-top: .25em;
 }

.title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  text-align:right;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 1.25em;
  font-weight: normal;
  color: #4A4A4A;

}

.card .card-img {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}

.card .card-img-sml {
  border-radius: 0;
}

.case {
  /*padding:4px;*/
  padding-left: 4px;
  padding-right: 4px;
}

.card .card-inverse {
  width: 100%;
  margin-bottom: 8px;
}

.card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 8px;
}

.case {
  display: none;
}

/**************************************
            Section pages
***************************************/

.navbar {
  background-color: #222222;
  color: #FFE600;
}

.navbar-brand {
  font-weight: normal;
  color: #FFE600;
  margin-left: -16px;
  line-height: 38px;
}

.navbar-brand:hover {
  color: #FFE600;
}

.navbar-brand:visited {
  color: #FFE600;
}

.section-text-box {
  background-color: rgba(255, 255, 255, 0.9);
  /*height:95vh;*/
  /*padding-left: 0;*/
  position: absolute;
  top: 30%;
}

/*.section-text-box p {
  padding-left: 16px;
}*/

.sectionTitle{
  font-size: 1.625em;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 16px;
  /*padding-left: 16px;*/
}

.sectionBtn{
  background-color: #FFE600;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
  text-align: left;

  font-size: 1em;
  color: #4A4A4A;
}

.button-block .btn  {
    margin-top: 16px;
}
.button-block {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*.section {
  background-image: url('../img/menuCard/officetest.png');
  background-size: cover;
  background-position:50% 50%;
  background-size:cover;
  position:fixed;
}*/


.sectionPage {
  background-color: white;
}

.section-img {
  min-height: 100vh;
  /*margin-top: -40px;*/
  background: url(../img/sectionBG/office.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -100;

}

.section-img-load {
  display: none;

}

.section {
  display: none
}



.topPhoneImage {
  max-width: 100vw;
  height:auto;
}
